/* Codigo abaixo é a parte de responsividade da minha page*/
@media (max-width: 900px) {
    #page-home {
      background-position-x: 70vw;
    }
  
    #page-home .content {
      align-items: center;
      text-align: center;
    }
  
    #page-home header a {
      position: absolute;
      bottom: -40px;
  
      left: 50%;
      transform: translateX(-50%);
    }
  
    #page-home main {
      align-items: center;
    }
  }
/*  largura minima da tela
    for 1700 pra cima ele aplica regra 
    que está abaixo
*/
  @media(min-width: 1700px){
      #page-home{
          background-position-x: 40vw;
      }
  }
/*  altura maxima da tela
    for 760 ele para de calcular pq 
    altura max foi atingida conforme
    codigo abaixo
*/
  @media(max-height: 760px){
      #page-home{
          background-position-y: 200px;
      }
  }

